.suggestions .suggestions-items {
  flex-wrap: wrap;
}

.hits .suggestions-items {
  flex-wrap: wrap;
}

@media screen and (max-width: 1440px) {
  .header {
    padding-right: 10px;
    padding-left: 10px;
  }
  .header .search-form {
    width: 580px;
  }

  .navigation {
    padding-right: 20px;
  }

  .slider .arrows-block-container .arrows-block {
    padding-left: 10px;
  }
  .slider .slider-main .slider__container .slider__item .slider__container_avangard {
    right: 0;
  }
  .slider .slider-main .slider__container .slider__item .slider__container_second-item {
    right: 0;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_text.first-text {
    margin-left: -30px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_text.second-text {
    margin-top: 12px;
    margin-left: 55px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_button.button-second {
    margin-left: 110px;
  }
  .slider .slider-main .slider__container .slider__item .slider__container_second-shade {
    right: 145px;
  }

  .products .products__container {
    margin-right: 0;
    margin-left: 0;
  }
  .products .products__container .product {
    margin: 10px;
    width: 700px;
  }
  .products .products__ask-sertific {
    transform: none;
    right: calc(50% - 134.5px);
    top: 1px;
  }

  .collection, .brands, .suggestions, .articles, .hits, .reviews, .red-banner, .above-footer, .footer {
    padding-left: 10px;
    padding-right: 10px;
  }

  .red-banner .red-banner__container .red-banner__form input {
    width: 460px;
  }

  .above-footer .above-footer__container .above-footer__description .above-footer__description_politic {
    margin-right: 60px;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_maker {
    margin-right: 60px;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_map {
    margin-right: 214px;
  }

  .brands .brands__blocks .brand {
    width: 268px;
  }

  .hits .suggestions-items .suggestions__item {
    width: 340px;
  }
  .hits .suggestions-items .suggestions__item:last-child {
    display: none;
  }

  .suggestions .suggestions-items .suggestions__item {
    width: 340px;
  }
  .suggestions .suggestions-items .suggestions__item:last-child {
    display: none;
  }

  .description {
    padding-right: 10px;
  }
}
@media screen and (max-width: 1366px) {
  .above-footer .above-footer__container .above-footer__description .above-footer__description_map {
    margin-right: 140px;
  }

  .products {
    padding-bottom: 100px;
  }
  .products .products__container .product {
    width: 663px;
  }

  .navigation .navigation__container .navigation__pages li a {
    padding: 0 32px;
  }

  .header .search-form {
    width: 506px;
  }

  .suggestions .suggestions-items .suggestions__item {
    width: 322px;
  }

  .hits .suggestions-items .suggestions__item {
    width: 322px;
  }

  .brands .brands__blocks .brand {
    width: 253px;
  }

  .red-banner .red-banner__container {
    align-items: center;
  }
  .red-banner .red-banner__container .red-banner__form input {
    width: 400px;
  }

  .slider {
    padding-bottom: 100px;
  }
  .slider .arrows-block-container .arrows-block {
    padding-left: 10px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_button.button-second {
    margin-left: 93px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_text.first-text {
    margin-left: -97px;
    margin-bottom: 10px;
  }

  .articles .articles-container .article .article__image {
    height: 288px;
  }

  .reviews .reviews__container .reviews__container_title {
    margin-bottom: 20px;
  }

  .description .description__content {
    max-width: 768px;
  }
}
@media screen and (max-width: 1024px) {
  .navigation .navigation__container .navigation__pages li a {
    padding: 0 6px;
    text-align: center;
  }

  .header .logo {
    margin-right: 10px;
  }
  .header .location {
    margin-right: 10px;
  }
  .header .search-form {
    margin-right: 10px;
    width: 300px;
  }
  .header .contacts .contacts__info {
    margin-right: 10px;
  }

  .slider .slider-main .slider__container .slider__item .slider__container_line {
    left: 666px;
  }
  .slider .slider-main .slider__container .slider__item .slider__container_first-item {
    right: 90px;
    width: 600px;
    top: 20px;
  }
  .slider .slider-main .slider__container .slider__item .slider__container_second-item {
    width: 440px;
    top: 10px;
  }
  .slider .slider-main .slider__container .slider__item .slider__container_first-shade {
    right: 420px;
    width: 240px;
  }
  .slider .slider-main .slider__container .slider__item .slider__container_first-shade img {
    width: 100%;
  }
  .slider .slider-main .slider__container .slider__item .slider__container_second-shade {
    right: 230px;
    width: 200px;
    bottom: -5px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-first {
    padding-top: 80px;
    max-width: 406px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-second {
    margin-left: 10px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third {
    max-width: 150px;
    margin-left: 67px;
    align-items: center;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_text.first-text {
    margin-left: 0;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_text.second-text {
    margin-left: 0;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_button.button-first {
    margin-bottom: 270px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_button.button-second {
    margin-left: 0;
  }

  .products .products__container .product {
    width: 492px;
    justify-content: end;
  }
  .products .products__container .product .product__image .product__image_glove-left {
    width: 350px;
    margin-left: -35px;
  }
  .products .products__container .product .product__image .product__image_glove-right {
    width: 350px;
    margin-left: 50px;
  }

  .suggestions .suggestions-items .suggestions__item.fourth {
    display: none;
  }

  .hits .suggestions-items .suggestions__item.fourth {
    display: none;
  }

  .articles .articles-container .article .article__image {
    height: 213px;
  }

  .reviews .reviews__container .reviews__blocks {
    margin-left: -50px;
  }
  .reviews .reviews__container .reviews__blocks .review {
    margin: 0 50px;
  }
  .reviews .reviews__container .reviews__blocks .review .review__top .review__top_logo {
    margin-right: 10px;
  }

  .brands .brands__blocks .brand {
    width: 236px;
  }

  .banner .banner__title {
    width: 460px;
  }

  .description .description__block {
    margin-right: 20px;
  }

  .red-banner .red-banner__container .red-banner_title {
    max-width: 350px;
  }
  .red-banner .red-banner__container .red-banner__form button {
    width: 200px;
  }

  .above-footer .above-footer__container .above-footer__content .content-first {
    margin-right: 40px;
  }
  .above-footer .above-footer__container .above-footer__content .content-first .content-first__blocks .content_first__block.first {
    margin-right: 40px;
  }
  .above-footer .above-footer__container .above-footer__content .content-second {
    margin-right: 10px;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_maker {
    margin-right: 28px;
    width: 194px;
    flex-shrink: 0;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_politic {
    margin-right: 28px;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_map {
    margin-right: 28px;
  }
}
@media screen and (max-width: 768px) {
  .products {
    padding-bottom: 150px;
  }
  .products .products__container .product {
    width: 100%;
  }

  .collection .collection__container {
    flex-wrap: wrap;
  }
  .collection .collection__container .collection__block {
    width: 100%;
    height: 494px;
    margin: 10px;
  }

  .suggestions .suggestions-items .suggestions__item {
    width: 364px;
    margin-bottom: 20px;
  }
  .suggestions .suggestions-items .suggestions__item.fourth {
    display: flex;
  }

  .hits .suggestions-items .suggestions__item {
    width: 364px;
    margin-bottom: 20px;
  }
  .hits .suggestions-items .suggestions__item.fourth {
    display: flex;
  }

  .articles .articles__titles {
    margin-bottom: 30px;
  }
  .articles .articles-container {
    flex-wrap: wrap;
  }
  .articles .articles-container .article {
    width: 100%;
    margin-bottom: 60px;
  }
  .articles .articles-container .article:last-child {
    margin-bottom: 0;
  }
  .articles .articles-container .article .article__image {
    height: auto;
    margin-bottom: 10px;
  }
  .articles .articles-container .article .article__title {
    max-width: 100%;
    height: unset;
  }
  .articles .articles-container .article .article__description {
    max-width: 100%;
  }

  .banner {
    padding: 30px 10px;
    flex-wrap: wrap;
  }
  .banner .banner__title {
    width: unset;
    margin-bottom: 20px;
  }

  .description {
    flex-wrap: wrap;
    padding-right: 0;
  }
  .description .description__block {
    margin-right: 0;
    width: 100%;
    padding: 40px 10px;
  }
  .description .description__block .description__block_text {
    max-width: 100%;
  }
  .description .description__content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .red-banner .red-banner__container {
    flex-wrap: wrap;
  }
  .red-banner .red-banner__container .red-banner_title {
    max-width: unset;
    margin-bottom: 20px;
  }
  .red-banner .red-banner__container .red-banner__form {
    width: 100%;
  }
  .red-banner .red-banner__container .red-banner__form input {
    margin-right: 10px;
  }

  .above-footer .above-footer__container .above-footer__content {
    flex-wrap: wrap;
  }
  .above-footer .above-footer__container .above-footer__content .content-first {
    margin-right: 0;
    width: 100%;
  }
  .above-footer .above-footer__container .above-footer__content .content-first .content-first__blocks {
    align-items: unset;
    margin-bottom: 30px;
  }
  .above-footer .above-footer__container .above-footer__content .content-first .content-first__blocks .content_first__block {
    width: 258px;
  }
  .above-footer .above-footer__container .above-footer__content .content-first .content-first__blocks .content_first__block.first {
    margin-right: 200px;
    width: 290px;
  }
  .above-footer .above-footer__container .above-footer__content .content-second {
    width: 290px;
    margin-right: 200px;
  }
  .above-footer .above-footer__container .above-footer__content .content-third {
    margin-right: 0;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth {
    display: flex;
    align-items: start;
    width: 100%;
    margin-top: 40px;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth .fourth__mail {
    margin-bottom: 0;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth .fourth-numbers {
    margin-right: 200px;
    width: 290px;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth .fourth-numbers .fourth-numbers__number-first {
    margin-top: 0;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth .content-fourth__container-buttons .fourth__button {
    margin-bottom: 12px;
  }
  .above-footer .above-footer__container .above-footer__description {
    justify-content: space-between;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_maker {
    margin-bottom: 0;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_buttons {
    width: 225px;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_buttons .above__button.questions {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_buttons .above__button.letter {
    width: 100%;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_politic {
    width: 142px;
    flex-shrink: 0;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_map {
    width: 70px;
    flex-shrink: 0;
  }

  .header .logo {
    width: 165px;
    display: flex;
    align-items: center;
  }
  .header .location {
    display: none;
  }
  .header .contacts {
    margin-left: 210px;
    align-items: center;
  }
  .header .contacts .contacts__info {
    margin-right: 20px;
  }
  .header .contacts .contacts__info .contacts__info_number {
    text-align: end;
    font-size: 18px;
    line-height: 130%;
  }
  .header .contacts .contacts__info .contacts__info_work-time {
    font-size: 12px;
    line-height: 130%;
  }
  .header .contacts .contacts__button {
    font-size: 12px;
    line-height: 130%;
    width: 128px;
    height: 30px;
    padding: unset;
  }
  .header .search-form {
    order: 3;
    width: unset;
    margin-right: 0;
  }
  .header .search-form .search-form__input {
    display: none;
  }
  .header .search-form .search-form__button {
    width: 30px;
    height: 30px;
  }
  .header .search-form .search-form__button svg {
    width: 12px;
    height: 12px;
  }

  .navigation .navigation__container {
    height: 45px;
  }
  .navigation .navigation__container .navigation__burger-button {
    display: flex;
    background: #01192F;
    padding: 0 15px;
    border: none;
    outline: none;
    align-items: center;
    justify-content: center;
  }
  .navigation .navigation__container .navigation__pages {
    display: none;
    flex-wrap: wrap;
  }
  .navigation .navigation__container .navigation__pages li a {
    padding: 0 16px;
  }
  .navigation .navigation__container .navigation__person li a {
    height: 24px;
  }

  .slider {
    height: 480px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-first {
    position: static;
    z-index: 6;
    padding-top: 80px;
    max-width: 320px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-first .slider__block-first_title {
    font-size: 30px;
    line-height: 110%;
  }
  .slider .slider-main .slider__container .slider__item .slider__container_first-item {
    right: -60px;
    top: -60px;
    transform: rotate(-20deg);
  }
  .slider .slider-main .slider__container .slider__item .slider__container_line {
    left: 500px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-second {
    padding-top: 140px;
    position: static;
    z-index: 6;
    margin-left: -10px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-second .slider__block-second_text-small {
    max-width: 174px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-second .slider__block-second_text-big {
    width: 174px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third {
    margin-left: 0;
    padding-top: 40px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_button.button-second {
    display: none;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_button.button-first {
    margin-bottom: 0;
    margin-left: 80px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_text.second-text {
    display: none;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-third .slider__block-third_text.first-text {
    width: 215px;
    margin-left: -135px;
  }
  .slider .slider-main .slider__container .slider__item .slider__container_second-item, .slider .slider-main .slider__container .slider__item .slider__container_avangard, .slider .slider-main .slider__container .slider__item .slider__container_second-shade, .slider .slider-main .slider__container .slider__item .slider__container_first-shade {
    display: none;
  }
  .slider .slider-main .slider__container .slider__item .slider__container_line {
    left: unset;
    right: 90px;
  }

  .reviews .reviews__container .reviews__blocks {
    margin-left: -10px;
  }
  .reviews .reviews__container .reviews__blocks .review {
    margin: 0 10px;
  }
  .reviews .reviews__container .reviews__blocks .review .review__top .review__top_content {
    margin-top: 10px;
  }
  .reviews .reviews__container .reviews__blocks .review .review__top .review__top_logo {
    width: 126px;
    height: 126px;
    padding: 54px 20px;
    margin-right: 30px;
  }
}
@media screen and (max-width: 375px) {
  .navigation {
    display: none;
  }
  .navigation .navigation__container .navigation__pages {
    width: 10px;
    height: 10px;
    overflow: hidden;
    background: white;
  }

  .header {
    align-items: center;
    padding: 15px 10px;
  }
  .header .header__person {
    display: flex;
    align-items: center;
    padding-right: 15px;
  }
  .header .header__person li {
    margin-right: 15px;
    position: relative;
  }
  .header .header__person li span {
    font-family: "Play-Bold", sans-serif;
    font-size: 8px;
    line-height: 130%;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    color: #FFFFFF;
    background: #D20A0F;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    position: absolute;
    box-sizing: border-box;
    right: -6.5px;
    top: -6.5px;
  }
  .header .header__person li:last-child {
    margin-right: 0;
  }
  .header .header__burger {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
  }
  .header .search-form {
    margin-right: 0;
    display: none;
  }
  .header .contacts {
    display: none;
  }
  .header .location {
    margin-right: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .header .logo {
    width: 102px;
    margin-right: 0;
    margin-left: 80px;
  }
  .header .contacts {
    flex-direction: row;
    margin-top: 10px;
    margin-left: 0;
  }
  .header .contacts .contacts__button {
    width: unset;
    padding: 13px 20px;
    margin-left: 10px;
  }

  .slider .slider-main .slider__container .slider__item {
    justify-content: center;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-second, .slider .slider-main .slider__container .slider__item .slider__container_line, .slider .slider-main .slider__container .slider__item .slider__container_first-shade, .slider .slider-main .slider__container .slider__item .slider__container_second-shade, .slider .slider-main .slider__container .slider__item .slider__block-third, .slider .slider-main .slider__container .slider__item .slider__block-second, .slider .slider-main .slider__container .slider__item .slider__container_avangard, .slider .slider-main .slider__container .slider__item .slider__container_first-item, .slider .slider-main .slider__container .slider__item .slider__container_second-item {
    display: none;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-first {
    padding-top: 70px;
  }
  .slider .slider-main .slider__container .slider__item .slider__block-first .slider__block-first_title {
    font-size: 36px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .products .products__container .product .product__title {
    font-size: 25px;
  }
  .products .products__container .product .product__image {
    width: 100%;
  }
  .products .products__container .product .product__image .product__image_shade {
    display: none;
  }
  .products .products__container .product .product__image.second {
    width: 100%;
    margin-top: -60px;
  }
  .products .products__container .product .product__image.second .product__image_shade {
    display: none;
  }
  .products .products__container .product .product__image.third {
    width: 100%;
  }
  .products .products__container .product .product__image.third .product__image_shade {
    display: none;
  }
  .products .products__container .product .product__image.fourth {
    width: 100%;
  }
  .products .products__container .product .product__image.fourth .product__image_glove-left {
    width: 260px;
    margin-left: 10px;
  }
  .products .products__container .product .product__image.fourth .product__image_glove-left .product__image_shade {
    display: none;
  }
  .products .products__container .product .product__image.fourth .product__image_glove-right {
    width: 247px;
    margin-left: 0;
    margin-top: -130px;
  }
  .products .products__container .product .product__image.fourth .product__image_glove-right .product__image_shade {
    display: none;
  }

  .collection .collection__container .collection__block {
    height: 300px;
    padding: 34px;
  }

  .articles .articles__titles {
    flex-wrap: wrap;
  }

  .suggestions .suggestions-items .suggestions__item {
    width: 100%;
  }

  .hits .suggestions-items .suggestions__item {
    width: 100%;
  }

  .brands .brands__blocks .brand {
    width: 100%;
  }

  .banner .banner__title {
    font-size: 20px;
    width: unset;
  }
  .banner .banner__button {
    width: 100%;
  }

  .red-banner .red-banner__container .red-banner_title {
    font-size: 20px;
  }
  .red-banner .red-banner__container .red-banner__form input {
    width: unset;
    margin-right: 7px;
  }
  .red-banner .red-banner__container .red-banner__form button {
    width: unset;
    padding-left: 10px;
    padding-right: 10px;
  }

  .reviews .reviews__container .reviews__blocks {
    margin-left: 0;
  }
  .reviews .reviews__container .reviews__blocks .review {
    margin: 0 1px;
  }
  .reviews .reviews__container .reviews__blocks .review .review__top .review__top_content {
    margin-top: 0;
  }
  .reviews .reviews__container .reviews__blocks .review .review__top .review__top_logo {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reviews .reviews__container .reviews__blocks .review .review__top .review__top_logo.padding-bigger {
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reviews .reviews__container .reviews__blocks .review .review__main .review__main_button .btn {
    padding: 14.5px;
    width: 100%;
  }

  .above-footer .above-footer__container .above-footer__content .content-first .content-first__blocks .content_first__block.first {
    width: unset;
    margin-right: 0;
  }
  .above-footer .above-footer__container .above-footer__content .content-second {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth {
    flex-wrap: wrap;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth .content-fourth__container-numbers .fourth-numbers {
    margin-right: 0;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth .content-fourth__container-numbers .fourth-numbers .fourth-numbers__number-second {
    margin-bottom: 20px;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth .content-fourth__container-numbers .fourth__mail {
    margin-bottom: 20px;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth .content-fourth__container-buttons .fourth__button {
    margin-bottom: 20px;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth .content-fourth__container-buttons .fourth__media_facebook {
    margin-right: 20px;
  }
  .above-footer .above-footer__container .above-footer__content .content-fourth .content-fourth__container-buttons .fourth__media_vk {
    margin-right: 20px;
  }
  .above-footer .above-footer__container .above-footer__description {
    flex-wrap: wrap;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_maker {
    margin-right: 0;
    width: 100%;
    margin-bottom: 10px;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_politic {
    width: unset;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_map {
    width: unset;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_buttons {
    width: 100%;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_buttons .above__button {
    width: 100%;
  }
  .above-footer .above-footer__container .above-footer__description .above-footer__description_buttons .above__button.questions {
    width: 100%;
  }
}

/*# sourceMappingURL=adaptive.css.map */
